In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('New_Dataset_1995_2020_ .csv', index_col='Date', parse_dates=True)

In [6]:
df.head()

,Rainfall,Humidity,Cloud,Dry_bulb,Min_Temp,Max_Temp,Pressure,Sun Shine,Wind_Speed,Wind_Direction
Date,,,,,,,,,,
01/01/1995,0,69,0,19.2,9.9,26,1015.2,6.3,0.0,CLM
02/01/1995,0,70,0,15.5,11.5,24,1015.2,8.3,0.0,CLM
03/01/1995,0,71,0,14.2,6,23.5,1016.1,8.5,0.0,CLM
04/01/1995,0,72,0,15.0,6.4,25,1016.8,8.7,0.0,CLM
05/01/1995,0,75,0,16.1,7,25.5,1018.0,8.8,6.0,NNW

In [7]:
df.tail()

,Rainfall,Humidity,Cloud,Dry_bulb,Min_Temp,Max_Temp,Pressure,Sun Shine,Wind_Speed,Wind_Direction
Date,,,,,,,,,,
27/12/2020,0,72,0,18.3,11.5,25.6,1012.9,8.1,0.0,CLM
28/12/2020,0,81,0,17.5,11,26,1012.9,7.4,2.0,NNW
29/12/2020,0,78,0,17.6,10.5,25.5,1013.7,8.1,2.0,NW
30/12/2020,0,77,0,17.4,10.9,25.5,1014.2,8.6,0.0,CLM
31/12/2020,0,75,0,17.7,10.5,26.7,1014.4,8.9,2.0,NNW

In [8]:
df.dtypes

Rainfall            int64
Humidity            int64
Cloud               int64
Dry_bulb          float64
Min_Temp           object
Max_Temp           object
Pressure          float64
Sun Shine          object
Wind_Speed        float64
Wind_Direction     object
dtype: object

In [9]:
df["Wind_Direction"].unique()

array(['CLM', 'NNW', 'NW ', 'N  ', 'W  ', 'SSW', 'S  ', 'SW ', 'SE ',
       'E  ', 'SSE', 'NE ', 'WNW', 'ESE', 'WSW', 'ENE', 'NNE'],
      dtype=object)

In [10]:
df["Wind_Direction"].value_counts()

Wind_Direction
S      4359
NW     1306
N      1045
W       667
SW      400
SE      338
NNW     261
NE      256
SSW     245
CLM     234
E       181
WNW      63
WSW      49
SSE      48
ENE      19
NNE      14
ESE      12
Name: count, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
label_encoder = LabelEncoder()

In [16]:
print(label_encoder)

LabelEncoder()

In [17]:
df["Wind_Direction"] = label_encoder.fit_transform(df["Wind_Direction"])

In [18]:
df.head()

,Rainfall,Humidity,Cloud,Dry_bulb,Min_Temp,Max_Temp,Pressure,Sun Shine,Wind_Speed,Wind_Direction
Date,,,,,,,,,,
01/01/1995,0,69,0,19.2,9.9,26,1015.2,6.3,0.0,0
02/01/1995,0,70,0,15.5,11.5,24,1015.2,8.3,0.0,0
03/01/1995,0,71,0,14.2,6,23.5,1016.1,8.5,0.0,0
04/01/1995,0,72,0,15.0,6.4,25,1016.8,8.7,0.0,0
05/01/1995,0,75,0,16.1,7,25.5,1018.0,8.8,6.0,7

In [19]:
df.dtypes

Rainfall            int64
Humidity            int64
Cloud               int64
Dry_bulb          float64
Min_Temp           object
Max_Temp           object
Pressure          float64
Sun Shine          object
Wind_Speed        float64
Wind_Direction      int32
dtype: object

In [21]:
df["Wind_Direction"].unique()

array([ 0,  7,  8,  4, 14, 12,  9, 13, 10,  1, 11,  5, 15,  3, 16,  2,  6])

In [22]:
df["Wind_Direction"].value_counts()

Wind_Direction
9     4359
8     1306
4     1045
14     667
13     400
10     338
7      261
5      256
12     245
0      234
1      181
15      63
16      49
11      48
2       19
6       14
3       12
Name: count, dtype: int64